
    <div id="main-header">
            <ul id="links">
                <span id="title">MAJOR_PROJECT2</span>
                <% if(locals.user){%>
                    
                    <a href="/">Home</a>
                    <a href="/users/profile/<%= locals.user.id%>"><%=user.name%></a>
                    <a href="/users/sign-out">Signout</a>
                <%}else{%>
                    <a href="/">Home</a>
                    <a href="/users/signin">SignIn</a>
                    <a href="/users/signup">SignUp</a>
                <%} %>
            </ul>
    </div>
    