
<h1> Welcome Page! </h1>
<link rel="stylesheet" href="css/home.css">
<div id="home-divison"> 
<section id="feed-posts">
    <h4>Posts</h4>
    <%if(locals.user){%>
        <form action="/posts/create" method="POST">
            <textarea name="content"  cols="30" rows="3" placeholder="Type Here...."></textarea>
            <input type="submit" value="Post">
        </form>
    <%}%>
            <br>
            <!-- <%=posts%> -->
            <br>
    <ul id="all-posts">
        <%-include('_post') -%>
    </ul>
</section>


<section id="user-friends">
    <h4>friends</h4>
    <%for(u of all_users){%>
        <p>
            <a href="/users/profile/<%= u.id%>"><%= u.name%> </a>
        </p>
    <%}%>
</section>
</div>