
        <h1>hello world</h1>
    <form action="/sign-up" method="POST">
        <input type="text" name="name" placeholder="enter ur name" required>
        <input type="email" name="email" placeholder="enter email id" required>
        <input type="text" name="password" placeholder="enter ur password" required>
        <input type="text" name="conformpassword" placeholder=" re-enter password" required>
        
        <button type="submit">submit</button>
    </form>