
<h1>Welcome Page!  </h1>

<section>
    <h4>Posts</h4>
    <%if(locals.user){%>
        <form action="/posts/create" method="POST">
            <textarea name="content"  cols="30" rows="3" placeholder="Type Here...."></textarea>
            <input type="submit" value="Post">
        </form>
    <%}%>

    <ul id="all-posts">
        <%for(let i of posts){%>
            <li><%= i.content%></li>
            <small>
                <!-- the id in the user(post) is replaced by actual user -->
                <%= i.user.email%>
            </small>
        <%}%>
    </ul>
</section>