<html>
    <head>
        <title> this is the title</title>
        <link rel="stylesheet" href="/css/layout.css">
        <%- style%>
    </head>
    <header>
        this is the header
    </header>
    <%- body %>
    
    <%- script%>
    <footer>
        this is the footer
    </footer>
</html>