<link rel="stylesheet" href="/css/user_profile.css">
        <h1>opsie its old</h1>
        <form action="/users/sign-in" method="POST">
                <input type="text" name="email" placeholder="enter ur email" required>
                <input type="text" name="password" placeholder="enter password" required>
                <button type="submit">signin</button>
        </form>
        <div style="align-self: flex-end;margin-top: 1rem;"><a href="/auth/">Forgot Password ?</a></div>
        <p>
             <a href="/users/auth/google">Google Signin/SignUp</a>
        </p>

    
