#home-divison {
  display: flex;
  justify-content: space-between;
  height: 80vh; }
  #home-divison #feed-posts {
    border-right: 2px solid #2d0080;
    width: 60%;
    overflow: scroll; }
  #home-divison #user-friends {
    width: 30%;
    overflow: scroll; }
